#conference
  .clearfix
    #conference-info
      h3.name {{conference.longName}}
      ul.conference-actions.unstyled
        li.btn-group
          button.btn.dropdown-toggle(data-toggle='dropdown')
            i.icon-cog
            span.caret
          ul.dropdown-menu.pull-right(role='menu', aria-labelledby="dropdownMenu")
            li
              a(href='/conferences/{{conference.id}}/bids') Bid on submissions
    #new-clip
      input(placeholder='Add a submission...', type='text')
  #conference-container
    ul#submission-list.unstyled
      li.submission(ng-repeat='submission in submissions')
        .submission-content
          span.submission-date
            abbr.timeago(title='{{submission.submitted}}')
              {{submission.submitted | ago}}
          a.submission-title(href='#') {{submission.title}}
          p {{submission.authors}}
          ul.unstyled
            li(ng-repeat='tag in submission.tags')
              span.label.label-info {{tag}}
        .submission-actions
