#conference
  .clearfix
    #conference-info
      h3.name {{conference.longName}}
      ul.conference-actions.unstyled
        li.btn-group
          button.btn.dropdown-toggle(data-toggle='dropdown')
            i.icon-cog
            span.caret
          ul.dropdown-menu.pull-right(role='menu', aria-labelledby="dropdownMenu")
            li
              a(href='#') Action
    #new-clip
      input(placeholder='Add a submission...', type='text')
  #conference-container
    ul#submission-list.unstyled(ng-repeat='submission in conference.submissions')
      li.submission
        .submission-content
          a(href='#') {{submission.title}}
          p {{submission.authors}}
          ul
            li(ng-repeat='tag in submission.tags')
              span.label.label-info {{tag}}
        .submission-actions
