#conference
  .clearfix
    #conference-info
      h3.name {{conference.longName}}
      ul.conference-actions.unstyled
        li.btn-group
          button.btn.dropdown-toggle(data-toggle='dropdown')
            i.icon-cog
            span.caret
          ul.dropdown-menu.pull-right(role='menu', aria-labelledby="dropdownMenu")
            li
              a(href='/conferences/{{conference.id}}/bids') Bid on submissions
      p {{conference.description}}
    //-#new-clip
      //-input(placeholder='Add a submission...', type='text')
  #conference-container
    ul#submission-list.unstyled
      li.submission(ng-repeat='submission in submissions')
        .submission-content
          span.submission-date
            abbr.timeago(title='{{submission.submitted}}')
              {{submission.submitted | ago}}
          a.submission-title(href='/conferences/{{conference.id}}/submissions/{{submission.id}}') {{submission.title}}
          ul.submission-authors.unstyled
            li.author(ng-repeat='author in submission.authors')
              a(href='/user/{{author.email}}') {{author.name.first}} {{author.name.last}}
              | 
              span {{author.affiliation}}
          a.edit-submission(href='/conferences/{{conference.id}}/submissions/{{submission.id}}') Edit
          //-div(ng-include, src='partials/editSubmission')
          //-a.edit-submission(ng-click='showSubmission(submission.title)', role='button', data-toggle='modal') Edit
          //-a.edit-submission(ng-click='edit(submission.title)', role='button', data-toggle='modal', modal='edit-submission-modal') Edit
          p.meta
            span.comment
              a(title='Comment')
                i.icon.icon-comment
                | Add comment
          .tags
            span.tag.label.label-info(ng-repeat='tag in submission.tags') {{tag}}
        .submission-actions
