#conference
  .clearfix
    #conference-info
      h3.name {{conference.longName}}
      ul.conference-actions.unstyled
        li.btn-group
          button.btn.dropdown-toggle(data-toggle='dropdown')
            i.icon-cog
            span.caret
          ul.dropdown-menu.pull-right(role='menu', aria-labelledby="dropdownMenu")
            li
              a(href='/conferences/{{conference.id}}/bids') Bid on submissions
      .conference-description
        p {{conference.description}}
    //-#new-clip
      //-input(placeholder='Add a submission...', type='text')
  #conference-container
    ul#submission-list.unstyled
      li.submission(ng-repeat='submission in submissions')
        .submission-number.pull-left
          span &#35;{{submission.id}}
        .submission-content
          span.submission-date
            abbr.timeago(title='{{submission.submitted}}')
              {{submission.submitted | ago}}
          h3.submission-title
            a(href='/conferences/{{conference.id}}/submissions/{{submission.id}}') {{submission.title}}
            span.tag.label.label-info(ng-repeat='tag in submission.tags') {{tag}}
          p by 
            strong(ng-repeat='author in submission.authors')
              a(href='/user/{{author.email}}')
                img.avatar(width=16, height=16, title='{{author.name.first}} {{author.name.last}}', ng-src='http://www.gravatar.com/avatar/{{author.email|md5}}?s=16')
                | {{author.name.first}} {{author.name.last}}
            time(datetime='{{submission.submitted}}')  {{submission.submitted | ago}}
          //-ul.submission-authors.unstyled
          //- li.author(ng-repeat='author in submission.authors')
          //-    a(href='/user/{{author.email}}') {{author.name.first}} {{author.name.last}}
          //-    | 
          //-    span {{author.affiliation}}
          //-a.edit-submission(ng-click='edit(submission)', href='#edit-submission-modal', role='button', data-toggle='modal') Edit
          //-button.btn.edit-submission(ng-click='edit(submission)', role='button', data-toggle='modal', modalx='edit-submission-modal') Edit
          .meta
            span.review
              a(title='Review')
                i.icon.icon-inbox
                |  2 reviews
            |  · 
            span.comment
              a(title='Comment')
                i.icon.icon-comment
                |  2 comments
          .submission-actions
