#edit-conference-modal.modal.hide.fade(ng-controller='ConferenceEditCtrl')
  .content
    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
    h3 Create a new conference
    form(name='newConferenceForm', ng-submit='submit()')
      .control-group
        label.control-label(for='conference-shortname')
          strong Conference acronym
        .controls
          input#conference-shortname.input-block-level(ng-model='conference.shortName', name='shortName', placeholder='CC', type='text', required)
          span.help-block(ng-show='newConferenceForm.shortName.$error.required') This field is required
      .control-group
        label.control-label(for='conference-longname')
          strong Conference name
        .controls
          input#conference-longname.input-block-level(ng-model='conference.longName', name='longName', placeholder='Conference on Computing', type='text', required)
            span.help-block(ng-show='newConferenceForm.longName.$error.required') This field is required
      .controls-row.dates
        .control-group
          label(for='conference-date-from')
            strong From
          .controls
            input#conference-date-from.input-block-level(ng-model='conference.date.from', name='from', type='date', required)
        .control-group
          label(for='conference-date-to')
            strong To
          .controls
            input#conference-date-to.input-block-level(ng-model='conference.date.to', name='to', type='date', required)
      .control-group
        label(for='conference-create-description', name='conference-description')
          strong Description
          |  (optional)
        .controls
          textarea#conference-description.input-block-level(ng-model='conference.description', name='decription')
      .control-row.privacy
        .control-group
          label.radio(for='conference-create-privacy-public')
            input#conference-create-privacy-public(type='radio', name='conference-sharing', value='public', checked='checked')
            strong Public
            br
            | Anyone can submit papers
        .control-group
          label.radio(for='conference-create-privacy-private')
            input#conference-create-privacy-private(type='radio', name='conference-sharing', value='private', checked='checked')
            strong Private
            i.icon.icon-lock
            br
            | Only invited can submit
      .actions
        button.btn.btn-primary(type='submit') Create conference
        a.cancel(data-dismiss='modal') Cancel
    //-a.btn(href='#') Close
    //-a.btn.btn-primary(href='#') Create conference
