#dashboard
  .clearfix
    .event(ng-repeat='event in events')
      .event-content
        strong
          a(href='/user/{{event.author.email}}')
            img.avatar(width=16, height=16, title='{{event.author.name.first}} {{event.author.name.last}}', ng-src='http://www.gravatar.com/avatar/{{event.author.email|md5}}?s=16')
            | {{event.author.name.first}} {{event.author.name.last}}
        | submitted to {{event.conference.longName}}
        time(datetime='{{event.createdat}}')  {{event.createdat | ago}}
