#submission
  .clearfix
    .submission-header
      h3
        span.pull-right &#35;{{submission.id}}
        | {{submission.title}}
      p by 
        strong(ng-repeat='author in submission.authors')
          a(href='/user/{{author.email}}')
            img.avatar(width=16, height=16, title='{{author.name.first}} {{author.name.last}}', ng-src='http://www.gravatar.com/avatar/{{author.email|md5}}?s=16')
            | {{author.name.first}} {{author.name.last}}
        time(datetime='{{submission.submitted}}')  {{submission.submitted | ago}}
      p.abstract
        {{submission.abstract}}
    #submission-container
      .review-timeline
        h4 Reviews
        .review-list
          .review(ng-repeat='review in submission.reviews')
            span.pull-left
              a(href='/user/{{review.reviewer.email}}')
                img.avatar(width=32, height=32, title='{{review.reviewer.name.first}}', ng-src='http://www.gravatar.com/avatar/{{review.reviewer.email|md5}}?s=32')
            .review-content
              span.review-date
                abbr.timeago(title='{{review.reviewed}}')
                  {{review.reviewed | ago}}
              .summar
                {{review.summary}}
              .strengths
                i.icon.icon-plus-sign
                |  {{review.strengths}}
              .weaknesses
                i.icon.icon-minus-sign
                |  {{review.weaknesses}}
      .comment-timeline
        h4 Comments
        .comment-list
          .comment(ng-repeat='comment in submission.comments')
            .comment-content
              span.comment-date
                abbr.timeago(title='{{comment.commented}}')
                  {{comment.commented | ago}}
              p {{comment.comment}}
