doctype 5
html
  head
    block head
      meta(charset='utf8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      base(href='/')
      title
        block title
        | Pubblico
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
      link(rel='stylesheet', href='/stylesheets/home.css')
      //if lt IE 9
        script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
      link(rel='shortcut icon', href='/img/favicon.ico')
      link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/img/apple-touch-icon-144-precomposed.png')
      link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/img/apple-touch-icon-114-precomposed.png')
      link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/img/apple-touch-icon-72-precomposed.png')
      link(rel='apple-touch-icon-precomposed', href='/img/apple-touch-icon-57-precomposed.png')
  body.home
    for msg in error
      .alert.alert-error
        a.close(href='#', data-dismiss='alert') &times;
        strong= msg
    nav.navbar.navbar-static-top
      .navbar-inner
        .container
          a.brand(href='http://pubbli.co.uk/')
            img(src='/img/pubblico.png', alt='Pubblico', width='140', height='40')
          .nav-collapse
            ul.nav.nav-pills.pull-right.actions
              li.active
                #signup-modal.modal.hide.fade(role='dialog', aria-labelledby='signup-modallabel', aria-hidden='true')
                  .modal-header
                    btn.close(type='button', data-dismiss='modal', aria-hidden='true') x
                    h3 Sign up to Pubblico
                  .modal-body
                    include partials/signup
                a(href='#signup-modal', role='button', data-toggle='modal') Sign up
              li
                #login-modal.modal.hide.fade(role='dialog', aria-labelledby='login-modallabel', aria-hidden='true')
                  .modal-header
                    btn.close(type='button', data-dismiss='modal', aria-hidden='true') x
                    h3 Log in to Pubblico
                  .modal-body
                    form.home-signup.pull-right(action='/login', method='POST', autocomplete='off')
                      fieldset
                        h5 With Pubblico account
                        input#id_username.input-xlarge(type='text', name='email', maxlength='30', placeholder='Email')
                        input#id_password.input-xlarge(type='password', name='password', placeholder='Password')
                        button.btn.btn-primary.btn-large(type='submit') Sign in
                      a(href='/accounts/password/reset')
                        span Forgot password?
                       · 
                      a(href='/home')
                        span Sign up to Pubblico
                a(href='#login-modal', role='button', data-toggle='modal') Sign in
            ul.nav
              li
                a(href='/conferences/') Conferences
              li
                a(href='/about/') About us
    .container
      .jumbotron
        include partials/signup
    .container
      section.teasers
        .row
          .span4
            img.teaser-cloud(src='img/icon-cloud.png', height='75', width='130')
            //-i.cloud
            h3 One place for your conferences
            p Pubblico keeps track of all your submissions in one place.
            p
              a.btn(href='/sync/') Learn more
          .span4
            img.teaser-document(src='img/icon-document.png', height='75', width='85')
            h3 Organized and archived
            p When you submit a paper through Pubblico, it's there when you need it.
            p
              a.btn(href='/archive/') Learn more
          .span4
            img.teaser-comment(src='img/icon-comment.png', height='75', width='120')
            h3 Comment and share
            p Discuss the papers with other researchers.
            p
              a.btn(href='/comment/') Learn more
    div(style='background:whitesmoke; color:#111; padding:80px 0 20px')
      .container
        section.row.awesome
          h2 The best place for your conferences
          .follow-buttons
            div(style='vertical-align:bottom;')
              a.twitter-share-button(href='https://twitter.com/share', data-text='One place for your conferences http://pubbli.co.uk via @pubblicoapp') Tweet
              script
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            div(style='vertical-align:middle;')
              .fb-like(data-href='https://pubbli.co.uk/', data-send='false', data-layout='button_count', data-width='450', data-show-faces='false')
              #fb-root
              script
                (function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            div(style='vertical-align:bottom;')
              .g-plusone(data-size='medium', data-href='https://pubbli.co.uk/')
              script
                (function() {
                  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                  po.src = 'https://apis.google.com/js/plusone.js';
                  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
    footer
      .container
        p
          a(href='/about/') About us
          a(href='/developers/') Developers / API
          a(href='mailto:hello@pubbli.co.uk') Contact
          a(href='http://blog.pubbli.co.uk/') Blog
          &copy; 2013 Pubblico. Built with passion.
    //- In production use: script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js')
    script(src='lib/angular/angular.js')
    script(src='lib/angular/angular-bootstrap.js')
    script(src='lib/angular/angular-resource.js')
    script(src='lib/jquery/jquery-1.9.0.js')
    script(src='lib/bootstrap/bootstrap.js')
