extends layout

block body
  //if lt IE 9
    script(src='lib/es5-shim.min.js')
    script(src='lib/json3.min.js')
  header.topbar
    .container
      h3.brand
        a(href='/') Publicum
      div#notifications(ng-controller='MenuNotificationsCtrl')
        //-a.btn(href='#notifications', role='button', data-toggle='modal')
        //-div#notifications.modal.hide.fade(role='dialog', aria-hidden='true')
        a.notifications-link.dropdown-toggle(href='#notifications', role='button', data-toggle='dropdown')
        div.notifications.dropdown-menu
          div
            ul
              li
                Notification
      form#search-form(action='/search', method='get', ng-controller='MenuSearchCtrl')
        input#search(type='text', placeholder='Search conferences...', name='q')
      ul.nav(ng-controller='MenuUserCtrl')
        li.nav-conferences
          a(href='/conferences/') Conferences
        li
          a(href='/feedback') Feedback
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            span.username
              img.avatar(width=32, height=32, title='{{user.display}}', src='http://www.gravatar.com/avatar/{{user.email|md5}}?s=32')
            b.caret
          ul.dropdown-menu
            li
              a(href='/me') {{user.display}}
            li
              a(href='/settings') Settings
            li
              a(href='/logout', target='_self') Logout
  #body.container
    .clearfix
      .row
        .span3.columns#sidebar(ng-controller='SidebarConferenceCtrl')
          ul#conferences.unstyled
            li
              a(href='/home', target='_self')
                i.icon.icon-home
                |  Home
            #conferences-global
              li
                a(href='/user/submissions')
                  i.icon.icon-envelope
                  |  Submissions
              li
                a(href='/user/reviews')
                  i.icon.icon-inbox
                  |  Reviews
              li
                a(href='/user/comments')
                  i.icon.icon-comment
                  |  Comments
            #conferences-user
              li(ng-repeat='conference in conferences')
                a(href='/conferences/{{conference.id}}')
                  i.icon.icon-folder-open
                  |  {{conference.shortName}}
            #new-conference
              a.new-conference(href='#edit-conference-modal', role='button', data-toggle='modal') + New conference
        .span9.columns.content
          .ng-view
  include partials/editConference
  include partials/editSubmission
  //- In production use: script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js')
  script(src='lib/angular/angular.js')
  script(src='lib/angular/angular-bootstrap.js')
  script(src='lib/angular/angular-resource.js')
  script(src='lib/jquery/jquery-1.9.0.js')
  script(src='lib/bootstrap/bootstrap.js')
  script(src='lib/moment/moment.js')
  script(src='lib/md5/md5.js')
  script(src='js/app.js')
  script(src='js/services/services.js')
  script(src='js/controllers/controllers.js')
  script(src='js/filters/filters.js')
  script(src='js/directives/directives.js')
  script(src='js/directives/modal.js')
