extends home-layout

block content
  .span4.offset4
    .account-form
      h2 Log in to your account
      form#login.clearfix(action='/login', method='POST', autocomplete='off')
        .control-group
          label.control-label(for='username')
            strong Username
          .controls
            input(type='text', name='username', maxlength='75', placeholder='Username or email')
        .controls
          input(type='password', name='password', placeholder='Create a password')
        .actions
          button.btn.btn-primary(type='submit') Log in
    p.note
      a(href='/account/password/reset') Forgot your password?
      |  · Need an account? 
      a(href='/signup') Sign up
