.home{background:url("../../img/home-bg-papers.jpg") left 90px no-repeat,url("../../img/home-bg-grey.png") left 90px repeat-x}
.navbar .navbar-inner{background:#fff;color:#000;-webkit-box-shadow:none;box-shadow:none;-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;-o-border-radius:0;border:none;text-shadow:none;padding:20px 0 10px}
.navbar{height:90px;margin-bottom:0}
.navbar .navbar-inner .nav.actions,.topbar .nav.actions{border-left:1px solid #ddd;margin-left:20px;padding-left:20px;float:right}
.navbar .navbar-inner .nav{float:right}
.navbar .navbar-inner .nav > li{float:left;display:block;margin-bottom:0}
.home .jumbotron{background:url("../../img/home-hero.png") right bottom no-repeat;height:325px;padding:45px 25px 0 0;margin-bottom:0}
.home .jumbotron h1{color:#fff;font-size:52px;font-weight:bold;line-height:1.1;margin-top:90px;text-shadow:0 0 10px 40px #000}
.home .jumbotron h1 small{font-weight:normal;color:#fff;display:block;font-size:22px}
.home .home-signup{margin-left:60px;width:290px}
.home .home-signup input,button{font-size:16px;min-height:32px;width:100%}
.home .home-signup .help-block{font-size:12px}
section.teasers{text-align:center;display:block}
section.teasers h3{margin:0 0 10px;line-height:1.1}
section.teasers p{margin:0 0 10px;color:#5a5a5a}
.home section{padding:60px 0}
section.awesome{text-align:center}
section .follow-buttons div{display:inline-block}
footer{padding:40px 0;text-align:center;margin-top:40px;color:#666}
footer p{font-size:14px;color:#666}
footer a{margin:0 2em;color:#666}
